@media (min-width: 576px) {
    .modal-dialog {
        max-width: 830px !important;
    }
}
/* Loader styles */
.loader-container {
    display: none; /* Hide initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    z-index: 9999; /* Ensure the loader is above other content */
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite; /* Apply rotation animation */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px; /* Half of the loader's height */
    margin-left: -15px; /* Half of the loader's width */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
